@font-face {
    font-family: Ara Jozoor;
    src: url('../jozoor_font/arajozoor-regular.otf');
    font-weight: bold;
}

body {
    overflow-x: hidden;
    background: #dddddd21;
    font-family: 'Ara Jozoor';
}

/****************************navbar *********************/

.navbar-brand {
    color: #070200 !important;
    font-size: 40px;
    margin-left: 70% !important;
    margin-top: 10px;
}


.navbar-right {
    margin-right: 8%;
}

.navbar-nav>li {
    float: right;
}

.nav > li > a {
    padding: 5px 15px
}

@media print {
    .nav > li > a {
        padding: 1px 15px
    }
}

.navbar {
    min-height: 65px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15);
    box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15)
}


.xx::after {
    display: none !important;
}



.xx:hover::after {
    display: none !important;
}

.navbar-nav > li {
    height: 67px;
    margin-top: 4px;
}

.navbar-nav > li > a {
    margin-top: 18px;
    text-decoration: none;
    color: #464646 !important;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px
}


.navbar-nav > li > a:hover {
    color: #a3a8f8 !important;
}

.navbar-inverse .navbar-nav > li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #a3a8f8;
    transition: width .3s;
    margin-top: 18px
}

.navbar-inverse .navbar-nav > li:hover::after {
    width: 100%;
    transition: width .4s;
    color: #a3a8f8 !important;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #000;
    border-bottom-color: #000
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    color: #464646
}

@media(max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #a3a8f8
    }
}

.navbar-header {
    min-height: 70px
}

.navbar .navbar-brand {
    display: block;
    width: 117px;
    height: 33px;
    margin-right: 50px
}

::-webkit-input-placeholder {
    padding-top: 4px
}

:-moz-placeholder {
    padding-top: 4px
}

::-moz-placeholder {
    padding-top: 4px
}

:-ms-input-placeholder {
    padding-top: 4px
}



/***
.nav.navbar-right>li>a {
    padding-left: 25px;
    padding-right: 2px
}**/

.navbar-toggle {
    margin-top: 16px
}

.navbar-inverse {
    border: 0
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-toggle.collapsed:hover .icon-bar {
    background-color: #fff !important
}

.navbar-inverse .navbar-toggle.collapsed:focus .icon-bar,
.navbar-inverse .navbar-toggle.collapsed:active .icon-bar {
    background-color: #333 !important
}

.navbar-inverse .navbar-toggle.mobile-deactivated:focus .icon-bar,
.navbar-inverse .navbar-toggle.mobile-deactivated:active .icon-bar,
.navbar-inverse .navbar-toggle.mobile-deactivated:hover .icon-bar {
    background-color: #333 !important
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background: #fff
}

.navbar-nav > li > .dropdown-menu {
    text-align: left
}

.navbar-collapse {
    -webkit-overflow-scrolling: touch
}

@media(max-width:768px) {
    .navbar-nav > li > .dropdown-menu .dd-tip {
        display: none
    }
}

.navbar-nav > li > .dropdown-menu > li > a {
    text-decoration: none
}



.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #a3a8f8
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    margin-top: -0.22em
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #1485c3;
    border-bottom-color: #1485c3
}

.navbar-inverse .navbar-toggle.collapsed:focus,
.navbar-inverse .navbar-toggle.collapsed:active {
    background-color: #fff !important
}

.navbar-inverse .navbar-toggle.mobile-deactivated:active,
.navbar-inverse .navbar-toggle.mobile-deactivated:hover,
.navbar-inverse .navbar-toggle.mobile-deactivated:focus {
    background-color: #fff !important
}




/********************** section1 ***********************/

.section1 {
    background: url(../img/x2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height:100%
}

.section1 h1,
.omra h1{
    font-size: 36px;
    font-weight: bolder;
    padding-top: 18%
}


.btn {
    margin-left: 45%;
    background: #588acd;
    margin-top: 15px;
    color: #fff;
    border-color:#588acd;
    text-transform: uppercase
}

.navbar-right .btn {
    padding: 6px;
    margin-top: 18px;
    color: #fff !important;
    margin-left: 15px;
}

.btn:hover,
.btn-success.active,
.btn-success:active,
.open > .dropdown-toggle.btn-success,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover {
    color: #333 !important;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.section1 .ss1 {
    padding: 0 0 15% 0;
    background: #000000b8;
    color: #fff;
}

.omra {
    background: url(../img/maxresdefault-27.jpg);
 background-size: 100%;
    background-repeat: no-repeat;
    height:100%
}

.omra .ss2 {
    padding: 0 0 15% 0;
    background: #000000b8;
    color: #fff;
}
/***************************** section2 *********************/

section {
    padding-top: 60px ;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;

}

.section2 {
    margin-bottom: 4%
}

.section2 img {
    margin-left: 35%;
    height: 70px;
}


.section2 h2 {
    text-align: center;
    font-size: 30px;
}

.section2 p {
    text-align: center
}

.section2 .col-md-4 {
    margin-top: 7%;
    margin-bottom: 7%;
}

/***************************** projects *********************/

.section3 h2 {
    font-size: 25px;
    font-weight: bolder
}

.pro1 {
    background: url(../img/331268-PA7YNQ-898.png);
    height: 550px;
    background-size: 50% 85.5%;
    background-position: center bottom;
    background-repeat: no-repeat;
    border-bottom: 1px solid #dddddd82;
}


.pro1 img {
    width: 200px;
    float: right;
    margin-right: 150px;
    margin-top: 10%
}


.pro1 .col-md-5 {
    margin-top: 10%
}

/********** pro2 *********/

.pro2 {
    background: url(../img/bg-right-90c5e0f719.png);
    height: 600px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right
}

.pro2 img {
    width: 200px;
    margin-left: 150px;
    margin-top: 5%
}

.pro2 .col-md-5 {
    margin-top: 5%
}


/**************************** clients *******************************/

.section4 {
    background: #fff;
}


.section4 h1 {
    margin-bottom: 10%
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}



#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 40px
}

#quote-carousel .carousel-control.left {
    left: -12px;
}

#quote-carousel .carousel-control.right {
    right: -12px !important;
}

#quote-carousel .carousel-indicators {
    right: 30%;
    left: 70%;
    width: 30%;
    top: auto;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.carousel-inner {
    margin-bottom: 50px;
    width: 80%;
    margin-left: 10%;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/**MEDIA QUERIES*/

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }

}

@media (max-width: 768px) {
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }

    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }

    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/************************ contact *************************/

input {
    box-shadow: 0px 0px 1px black;
    width: 98%;
    margin: 8px;
    border: none;
    padding: 8px;
}

textarea {
    width: 100%;
    padding: 8px 15px;
    margin: 5px;
}

form {
    margin: 5% 0;
}

.section5 .btn {
    margin-left: 48%;
    margin-top: 45px
}

.more {
    width: 10%;
    margin-left: 42%;
    margin-top: -15%;
}
/************************ footer *************************/

ul {
    list-style: none
}

footer {
    padding: 20px 0 5px 0;
    background: #f1eded;
}

footer li {
    display: inline;
    margin-right: 20px;
}

footer a {
    color: darkslategrey
}

footer a:hover {
    color: #74a89c;
    text-decoration: none
}



/********************************** media query *************************/

@media(max-width:767px) {
    .navbar-brand {
        margin-left: 0 !important
    }

    .navbar-nav {
        margin: 0
    }

    .navbar-nav > li {
        height: 20px;
        margin-top: 4px;
        text-align: center
    }

    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: #74a89c;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #74a89c;
    }


}



@media(max-width:500px) {
    h1 {
        font-size: 20px !important
    }

    .more {
    width: 10%;
    margin-left: 42%;
    margin-top: -15%;
    }

    .section5 .btn {
        margin-left: 48%;
        margin-top: 45px;
    }


}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .navbar-brand {
        margin-left: 0 !important
    }

    .navbar-nav {
        margin: 0
    }

    .navbar-nav > li {
        height: 20px;
        margin-top: 4px;
        text-align: center
    }

    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: #74a89c;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #74a89c;
    }

    .section1 {
        background-size: 100% 350px;
    }

    .section1 .ss1 {
        padding: 10%;
    }

    .pro1 img {
        width: 100%;
        float: none;
        margin-top: 0;
        margin-top: 50%;
    }
    .section2 img {
        margin-left: 40%;
    }

    .section3 h2 {
        font-size: 16px;
        font-weight: bolder;
    }

    .lead {
        font-size: 12px;
    }
    .pro1 {
        background-position: left;
        background-size: 40%;
        height: 300px;
    }



    .pro2 {
        height: 300px;
        background-size: 40%;
        background-position: bottom right;
    }
    .pro2 img {
        width: 100%;
        margin-left: 0px;
        margin-top: 20%;
    }

    .page-footer-inner {
        text-align: center !important
    }

    .carousel-control {
        display: none
    }

    blockquote {
        font-size: 12px
    }

}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    .navbar-brand {
        margin-left: 0 !important
    }

    .navbar-nav {
        margin: 0
    }

    .navbar-nav > li {
        height: 20px;
        margin-top: 4px;
        text-align: center
    }

    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: #74a89c;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #74a89c;
    }

    .section1 {
        background-size: 100% 350px;
    }

    .section1 .ss1 {
        padding: 10%;
    }

    .pro1 img {
        width: 100%;
        float: none;
        margin-top: 0;
        margin-top: 50%;
    }
    .section2 img {
        margin-left: 40%;
    }

    .section3 h2 {
        font-size: 16px;
        font-weight: bolder;
    }

    .lead {
        font-size: 12px;
    }
    .pro1 {
       background-position: bottom right;
    background-size: 55% 75%;
    height: 320px;

    }



    .pro2 {
        height: 300px;
        background-size: 40%;
        background-position: bottom right;
    }
    .pro2 img {
        width: 100%;
        margin-left: 0px;
        margin-top: 20%;
    }

    .page-footer-inner {
        text-align: center !important
    }

    .carousel-control {
        display: none
    }

    blockquote {
        font-size: 12px
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {

    .navbar-nav > li > a {
        margin-top: 0px;
        padding: 25px 10px;
        text-decoration: none;
        color: #464646 !important;
        text-transform: uppercase;
        font-size: 12px;
        /* line-height: 18px; */
    }
    .navbar-brand {
        margin-left: 0 !important
    }

    .navbar-nav {
        margin: 0
    }

    .navbar-nav > li {
        height: 20px;
        margin-top: 4px;
        text-align: center
    }

    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: #74a89c;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #74a89c;
    }

    .section1 {
        background-size: 100% 450px;
    }

    .section1 .ss1 {
        padding: 10%;
    }

    .pro1 img {
        width: 70%;
        float: none;
        margin-top: 0;
        margin-top: 35%;
    }
    .section2 img {
        margin-left: 45%;
    }


    .pro1 p {
        font-size: 16px
    }
    .section3 h2 {
        font-size: 16px;
        font-weight: bolder;
    }

    .lead {
        font-size: 16px;
    }
    .pro1 {
        background-position: bottom center;
        background-size: 40% 70%;
        height: 380px;
    }



    .pro2 {
        height: 320px;
        background-size: 50%;
        background-position: top right;
    }
    .pro2 img {
        width: 50%;
        margin-left: 35%;
        margin-top: 15%;
    }

    .page-footer-inner {
        text-align: center !important
    }

    .carousel-control {
        display: none
    }

    blockquote {
        font-size: 12px
    }
    
    .section6 .row {
        text-align: center
    }
}

/* iPhone 5 (landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 5 (portrait) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6 (landscape) ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6 (portrait) ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+ (landscape) ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+ (portrait) ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 (landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 (portrait) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S4 (landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S4 (portrait) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 (landscape) ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S5 (portrait) ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}






/************ products *************/

.wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.x1 {
    background-image: url(../bus/Whats_App_Image_2018_07_29_at_2_32_22_PM_4.jpg)
}

.x2 {
    background-image: url(../doc/Whats_App_Image_2018_07_24_at_8_59_13_PM.jpg);
}

.x3 {
    background-image: url(../mfkod/unnamed.png)
}

.wrimagecard-topimage_header {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(187, 120, 36, 0.1)
}

a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.image {
    border-right: 1px solid #ddd
}

.images img {
    height: 100px;
    opacity: 0.6;
    cursor: pointer;
}

.images {
    border-bottom: 1px solid #ddd
}

.images img:hover,
.images img:active,
.images img:focus {
    opacity: 1;
}


#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


.expandedImg,
.img img {
    height: 500px;
    margin-left: 23%;
    margin-top: 25px;
}

textarea , input {
    text-align: right
}
.section2 a {
    color: #333
}
/********************** footer ***********************/


section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #dadada !important;
}
#footer h5{
	padding-right: 10px;
    border-right: 3px solid #333;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#333;
    
    text-align: right;
}
#footer a {
    color: #333;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#333;
}
#footer ul.social li a:hover{
	color:#000;
}
#footer ul.quick-links li{
    
    text-align: right;
    margin-right: 7%;
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


.footer-bottom{
  
    font-size: 14px;
    background: #b9b7b7;
}


.footer-bottom p{
    margin: 10px 0 0 0
 }
